@model List<BankBranch>
<div class="text-center">
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Branch Name</th>
            <th>Branch Location</th>
            <th>Branch Manager</th>
            <th>EmployeeCount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var branch in Model)
        {
            <tr>
                <td>@branch.Id</td>
                    <td><a href="Bank/details/@branch.Id">@branch.Name</a></td>
                <td><a href="@branch.Location" target="_blank">Location</a></td>
                <td>@branch.BranchManager</td>
                <td>@branch.EmployeeCount</td>
            </tr>
        }
    </tbody>
</table>


<a class="btn btn-outline-primary btn-block" href="Bank/AddBranch">Add Branch</a>

</div>

